<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="theme-color" content="#ffffff">
    <title>Krastev's Gym</title>
</head>

<body>
<header class="header">
    <div th:replace="~{fragments/navbar}"></div>
</header>

<main>
    <section class="activity">
        <a th:href="@{/admin/activities/{id}(id=${activity.getId()})}" th:each="activity: ${activities}" class="card--activity">
            <img th:src="${activity.getImageURL()}" alt="Activity" class="img--activity">
            <div class="wrapper__details--activity">
                <h4 th:text="${activity.getTitle()}" class="title--activity">Machines</h4>
            </div>
        </a>
    </section>

    <div class="divider"></div>
</main>

<footer th:replace="~{fragments/footer}" class="footer"></footer>

</body>

</html>