<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="theme-color" content="#ffffff">
    <title>Krastev's Gym</title>
    <!-- <script src="/src/app.js" type="module"></script> -->
</head>

<body>
<header class="header">
    <div th:replace="~{fragments/navbar}"></div>
</header>


<main>
    <div class="exercise__container section--exercise__first">
        <section class="exercise">
            <div th:object="${exerciseDetails}"
                 class="exercise__wrapper--info">
                <div class="exercise__wrapper--short__info">
                    <h2 th:text="*{name}"
                        class="exercise__title">Stability ball V-pass</h2>
                    <p th:text="*{description}"
                       class="exercise__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora
                        autem hic
                        architecto? Laborum earum
                        adipisci ut voluptatum esse unde maxime, maiores voluptatem. Explicabo fuga obcaecati numquam.
                        Perspiciatis
                        cum quibusdam ad.</p>

                    <th:block th:if="${isCreator}">
                        <div class="info__buttons--exercise">
                            <button class="info__button edit">Edit</button>
                            <form th:method="delete"
                                  th:action="@{/exercises/exercises-by-category/exercise/{id}(id=*{id})}">
                                <button class="info__button delete">Delete</button>
                            </form>
                        </div>
                    </th:block>
                </div>
                <img th:src="*{gifUrl}"
                     class="exercise__poster" alt="Section poster"/>
            </div>
        </section>
    </div>

    <div class="divider"></div>

    <div class="exercise__container section--exercise">
        <section class="exercise">
            <div th:object="${exerciseDetails}"
                 class="exercise__wrapper--detailed__info">
                <img th:src="*{musclesWorkedUrl}"
                     class="exercise__view_of_muscle"
                     alt="Section view of muscles"/>
                <div class="exercise__wrapper--instructions">
                    <h3 class="exercise__instructions__title">Instructions</h3>
                    <p th:text="*{instructions}"
                       class="exercise__instructions">1. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum,
                        rem
                        cupiditate! Totam at, vitae, deleniti laboriosam minus accusantium aut sapiente quia omnis
                        consequuntur
                        voluptatum fuga expedita a doloribus aliquid repellendus!
                    </p>
                </div>
            </div>
        </section>
    </div>

    <div class="divider"></div>

    <div class="exercise__container section--exercise exercise">
        <h3 class="exercise__notes__title">Notes</h3>
        <section class="exercise">
            <form th:action="@{/exercises/exercises-by-category/exercise/{id}(id=${exerciseDetails.getId()})}"
                  th:method="post"
                  class="create__note">
          <textarea th:text="${exerciseDetails.getNotes()}"
                    th:placeholder="#{exercise_placeholder_notes}"
                    name="notes"
                    class="exercise__notes"
                    minlength="1"
                    maxlength="255" required></textarea>
                <button type="submit" class="create__note--submit">Submit</button>
            </form>
        </section>
    </div>

    <div class="divider"></div>

</main>

<footer th:replace="~{fragments/footer}" class="footer"></footer>
</body>

</html>