<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
  <link rel="manifest" href="/favicon/site.webmanifest">
  <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#ffc40d">
  <meta name="theme-color" content="#ffffff">
  <title>Krastev's Gym</title>
  <!-- <script src="/src/app.js" type="module"></script> -->
</head>

<body>
  <header class="header">
    <div class="header__wrapper">
      <a href="/">
        <img src="/imgs/logo.png" class="header__logo" alt="Logo" />
      </a>
      <nav class="header__navigation">
        <div id="guest">
          <a href="/users/login" class="btn">My Trainer</a>
          <a href="/exercise.html" class="btn">Exercises</a>
          <a href="/users/login" class="btn">Workouts</a>
          <a href="/users/login" class="btn">Progress</a>
          <a href="/shop.html" class="btn">Shop</a>
          <a href="/users/login" class="btn">Nutrition</a>
          <a href="/users/login" class="icon btn"><i class="fa-solid fa-circle-user"></i></a>
        </div>
      </nav>
    </div>

  </header>

  <main>
    <section id="hero">
      <img src="/imgs/exercise.jpg" class="img--bg--exercise" alt="Background poster" />

      <div class="hero__exercises">
        <h1 class="hero__title__exercises">Exercises</h1>

        <div class="hero__exercises__subtitles">
          <p class="hero__exercises__subtitle">Even if you don't have time to train with us, we support you at any time!
          </p>
          <p class="hero__exercises__subtitle">Whether for home or your next visit, our online workouts motivate you and
            keep you fit.</p>
          <p class="hero__exercises__subtitle">Together we will reach your goal!</p>
        </div>
      </div>
    </section>

    <div class="divider"></div>

    <div class="exercises__container">
      <section th:each="exercise : ${exercises}" class="exercise section">
        <a href="/abs.html" class="exercise__wrapper">
          <img th:src="${exercise.imageUrl}" class="exercise__poster"  alt="Section poster" />
          <h2 th:text="${exercise.exerciseName}" class="exercise__title">Abs</h2>
        </a>
      </section>
    </div>

    <div class="divider"></div>


  </main>

  <footer class="footer">
    <!-- Info -->
    <div class="navi">
      <div class="navi-group">
        <h3 class="navi-group__title">Krastev's Gym</h3>
        <nav>
          <ul>
            <li>
              <p>Krastev's Gym is the most iconic gym in the world. Since 1989, no one has stood for fitness and
                bodybuilding. Become part of our Legacy now!
              </p>
            </li>
          </ul>
        </nav>
      </div>

      <!-- About -->
      <div class="navi-group">
        <h3 class="navi-group__title">About</h3>
        <nav>
          <ul>
            <li><a href="" class="navi-group__subtitle">Terms of Use</a></li>
            <li><a href="" class="navi-group__subtitle">Data Privacy</a></li>
            <li><a href="" class="navi-group__subtitle">Legal Notice</a></li>
            <li><a href="" class="navi-group__subtitle">Cancellation</a></li>
          </ul>
        </nav>
      </div>

      <!-- Help -->
      <div class="navi-group">
        <h3 class="navi-group__title">Help & Contact</h3>
        <nav>
          <ul>
            <li><a href="" class="navi-group__subtitle">Self Service</a></li>
            <li><a href="" class="navi-group__subtitle">Help Center</a></li>
            <li><a href="" class="navi-group__subtitle">Terminate Membership</a></li>
            <li><a href="" class="navi-group__subtitle">Gym Usage</a></li>
            <li><a href="" class="navi-group__subtitle">Franchise</a></li>
          </ul>
        </nav>
      </div>

      <!-- Careers -->
      <div class="navi-group">
        <h3 class="navi-group__title">Careers</h3>
        <nav>
          <ul>
            <li><a href="" class="navi-group__subtitle">Jobs at Krastev's Gym</a></li>
          </ul>
        </nav>
      </div>

    </div>

    <!-- Media -->
    <div class="info">
      <ul class="socials">
        <li class="socials__item">
          <a href=""><i class="fab fa-facebook-f"></i></a>
        </li>
        <li class="socials__item">
          <a href=""><i class="fab fa-twitter"></i></a>
        </li>
        <li class="socials__item">
          <a href=""><i class="fab fa-google-plus-g"></i></a>
        </li>
        <li class="socials__item">
          <a href=""><i class="fab fa-youtube"></i></a>
        </li>
        <li class="socials__item">
          <a href=""><i class="fab fa-instagram"></i></a>
        </li>
      </ul>
      <p class="rights">Copyright © 2024 Krastev & Waller GmbH. All Rights Reserved.</p>
    </div>
  </footer>
</body>

</html>