<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/main.css" />
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
  <link rel="manifest" href="/favicon/site.webmanifest">
  <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#ffc40d">
  <meta name="theme-color" content="#ffffff">
  <title>Krastev's Gym</title>
  <!-- <script src="/src/app.js" type="module"></script> -->
</head>

<body>
  <header class="header">
    <div th:replace="~{fragments/navbar}"></div>
  </header>

  <main>
    <section id="hero">
      <img src="/images/hero/exercise.jpg" class="img--bg--exercise" alt="Background poster" />

      <div class="hero__exercises">
        <h1 class="hero__title__exercises">Exercises</h1>

        <div class="hero__exercises__subtitles">
          <p class="hero__exercises__subtitle">Even if you don't have time to train with us, we support you at any time!
          </p>
          <p class="hero__exercises__subtitle">Whether for home or your next visit, our online workouts motivate you and
            keep you fit.</p>
          <p class="hero__exercises__subtitle">Together we will reach your goal!</p>
        </div>
      </div>
    </section>

    <div class="divider"></div>

    <div class="exercises__container">
      <section th:each="category : ${categories}" class="exercise section">
        <a th:href="@{/exercises/categories/{id}(id=${category.getCategoryId()})}" class="exercise__wrapper">
          <img th:src="${category.getCategoryGifUrl()}" class="exercise__poster"  alt="Section poster" />
          <h2 th:text="${category.getCategory().toLowerCase()}" class="exercise__title">Abs</h2>
        </a>
      </section>
    </div>

    <div class="divider"></div>
  </main>

  <footer th:replace="~{fragments/footer}" class="footer"></footer>
</body>

</html>