<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
  <link rel="manifest" href="/favicon/site.webmanifest">
  <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#ffc40d">
  <meta name="theme-color" content="#ffffff">
  <title>Krastev's Gym</title>
  <!-- <script src="/src/app.js" type="module"></script> -->
</head>

<body>
  <header class="header">
    <div th:replace="~{fragments/navbar}"></div>
  </header>

  <main>
    <section id="hero">
      <img src="/imgs/hero/hero.jpg" class="img--bg" alt="Background poster" />

      <h1 class="hero__title">no excuses!</h1>
      <h2 class="hero__subtitle">get fit now</h2>

      <th:block th:if="${@currentUser.isLoggedIn()}">
          <a href="register.html" class="member__btn">
              start a training >
          </a>
      </th:block>
      <th:block th:unless="${@currentUser.isLoggedIn()}">
          <a href="register.html" class="member__btn">
              get started >
          </a>
      </th:block>

    </section>

    <div class="divider"></div>

    <section id="weights" class="info section">
      <div class="info__wrapper">
        <h2 class="info__title">Free Weights</h2>
        <p class="info__description">
          If you suffer from acute iron deficiency, you've come to the right place. In the Free Weights Area, you can
          let off steam on the gym80 Olympia Premium barbells or dumbbells up to 150 kg.
        </p>

        <div class="info__buttons">
          <button class="info__button edit">Edit</button>
          <button class="info__button delete">Delete</button>
        </div>
      </div>

      <img class="info__poster" src="/imgs/weights.jpg" alt="Section poster" />
    </section>

    <div class="divider"></div>

    <section id="machines" class="info section">
      <div class="info__wrapper">
        <h2 class="info__title">Machines</h2>
        <p class="info__description">
          Indestructible, incomparable and incredibly effective: With the ultimate equipment from gym80 "The King of
          Machines" you train all muscles absolutely precisely thanks to the excellent biomechanics.
        </p>

        <div class="info__buttons">
          <button class="info__button edit">Edit</button>
          <button class="info__button delete">Delete</button>
        </div>
      </div>

      <img class="info__poster" src="/imgs/machines.jpg" alt="Section poster" />
    </section>

    <div class="divider"></div>

    <section id="cardio" class="info section">
      <div class="info__wrapper">
        <h2 class="info__title">Cardio Area</h2>
        <p class="info__description">
          Take your endurance to the next level with top equipment from Precor and Matrix and look forward to a gigantic
          selection - in Constance even between 10 meter high trees!
        </p>

        <div class="info__buttons">
          <button class="info__button edit">Edit</button>
          <button class="info__button delete">Delete</button>
        </div>
      </div>

      <img class="info__poster" src="/imgs/cardio.jpg" alt="Section poster" />
    </section>

    <div class="divider"></div>

    <section id="box" class="info section">
      <div class="info__wrapper">
        <h2 class="info__title">Boxing</h2>
        <p class="info__description">
          You won't meet Wladimir Klitschko or Alexander Povetkin in our gym, but the fun in our boxing classes is
          guaranteed.
        </p>

        <div class="info__buttons">
          <button class="info__button edit">Edit</button>
          <button class="info__button delete">Delete</button>
        </div>
      </div>

      <img class="info__poster" src="/imgs/boxing.jpg" alt="Section poster" />
    </section>

    <div class="divider"></div>

    <section id="coaching" class="info section">
      <div class="info__wrapper">
        <h2 class="info__title">PT & Coaching</h2>
        <p class="info__description">
          You can't get ahead and always have an excuse? Then it's high time for the best personal training ever!
          Experience individual 1:1 support, pure motivation, and maximum effectiveness.
        </p>

        <div class="info__buttons">
          <button class="info__button edit">Edit</button>
          <button class="info__button delete">Delete</button>
        </div>
      </div>

      <img class="info__poster" src="/imgs/coaching.jpg" alt="Section poster" />
    </section>

    <div class="divider"></div>

    <section id="yoga" class="info section">
      <div class="info__wrapper">
        <h2 class="info__title">Yoga</h2>
        <p class="info__description">
          If you are looking for peace of mind and solitude, come and join our yoga classes.
        </p>

        <div class="info__buttons">
          <button class="info__button edit">Edit</button>
          <button class="info__button delete">Delete</button>
        </div>
      </div>

      <img class="info__poster" src="/imgs/yoga.jpg" alt="Section poster" />
    </section>

    <div class="divider"></div>

    <section id="classes" class="info section">
      <div class="info__wrapper">
        <h2 class="info__title">VR Training & More</h2>
        <p class="info__description">
          At Krastev's Gym, we offer you two strong fitness class formats: VR Workouts and Live Classes. All classes
          are free and suitable for all levels.
        </p>

        <div class="info__buttons">
          <button class="info__button edit">Edit</button>
          <button class="info__button delete">Delete</button>
        </div>
      </div>

      <img class="info__poster" src="/imgs/vr.jpg" alt="Section poster" />
    </section>

    <div class="divider"></div>

    <section id="posing" class="info section">
      <div class="info__wrapper">
        <h2 class="info__title">Posing Room</h2>
        <p class="info__description">
          First pump, then pose. In the fully mirrored room in Constance, that's no problem. Because we have not spared
          the anabolic light here, you can put your body optimally illuminated in the scene.
        </p>

        <div class="info__buttons">
          <button class="info__button edit">Edit</button>
          <button class="info__button delete">Delete</button>
        </div>

      </div>

      <img class="info__poster" src="/imgs/posing.jpg" alt="Section poster" />
    </section>

    <div class="divider"></div>

    <section id="sauna" class="info section">
      <div class="info__wrapper">
        <h2 class="info__title">Sauna & Recovery</h2>
        <p class="info__description">
          If you work hard, you can also relax. Ideally in our separate men's and women's sauna. Time to relax.
        </p>

        <div class="info__buttons">
          <button class="info__button edit">Edit</button>
          <button class="info__button delete">Delete</button>
        </div>
      </div>

      <img class="info__poster" src="/imgs/sauna.jpg" alt="Section poster" />
    </section>

    <div class="divider"></div>

    <section id="pool" class="info section">
      <div class="info__wrapper">
        <h2 class="info__title">Swimming Pool</h2>
        <p class="info__description">
          Krastev's Gym Fullerton features an outdoor pool and indoor hot tub, open year-round. Swim your way to better
          health and stay cool in the Constance sun with our unlimited membership.
        </p>

        <div class="info__buttons">
          <button class="info__button edit">Edit</button>
          <button class="info__button delete">Delete</button>
        </div>
      </div>

      <img class="info__poster" src="/imgs/pool.jpg" alt="Section poster" />
    </section>

    <div class="divider"></div>

    <section id="nutrition" class="info section">
      <div class="info__wrapper">
        <h2 class="info__title">Krastev's Gym Nutrition</h2>
        <p class="info__description">
          When you train, you get your body in top shape. But you also demand a lot from it. Krastev's Gym Nutrition
          ensures that your body is supplied with everything it needs before, during and after your workout.
        </p>

        <div class="info__buttons">
          <button class="info__button edit">Edit</button>
          <button class="info__button delete">Delete</button>
        </div>
      </div>

      <img class="info__poster" src="/imgs/nutrition.jpg" alt="Section poster" />
    </section>

    <div class="divider"></div>

    <section id="shop" class="info section">
      <div class="info__wrapper">
        <h2 class="info__title">Krastev's Gym Shop</h2>
        <p class="info__description">
          At Krastev's Gym you have a wide selection of products specially selected for you by us. Useful fitness
          accessories, and the perfect clothes for your workout. You can pick up your order in your Krastev's Gym, or
          have it conveniently delivered to your home.
        </p>

        <div class="info__buttons">
          <button class="info__button edit">Edit</button>
          <button class="info__button delete">Delete</button>
        </div>
      </div>

      <img class="info__poster" src="/imgs/shop.jpg" alt="Section poster" />
    </section>

    <div class="divider"></div>

  </main>

  <footer class="footer">
    <!-- Info -->
    <div class="navi">
      <div class="navi-group">
        <h3 class="navi-group__title">Krastev's Gym</h3>
        <nav>
          <ul>
            <li>
              <p>Krastev's Gym is the most iconic gym in the world. Since 1989, no one has stood for fitness and
                bodybuilding. Become part of our Legacy now!
              </p>
            </li>
          </ul>
        </nav>
      </div>

      <!-- About -->
      <div class="navi-group">
        <h3 class="navi-group__title">About</h3>
        <nav>
          <ul>
            <li><a href="" class="navi-group__subtitle">Terms of Use</a></li>
            <li><a href="" class="navi-group__subtitle">Data Privacy</a></li>
            <li><a href="" class="navi-group__subtitle">Legal Notice</a></li>
            <li><a href="" class="navi-group__subtitle">Cancellation</a></li>
          </ul>
        </nav>
      </div>

      <!-- Help -->
      <div class="navi-group">
        <h3 class="navi-group__title">Help & Contact</h3>
        <nav>
          <ul>
            <li><a href="" class="navi-group__subtitle">Self Service</a></li>
            <li><a href="" class="navi-group__subtitle">Help Center</a></li>
            <li><a href="" class="navi-group__subtitle">Terminate Membership</a></li>
            <li><a href="" class="navi-group__subtitle">Gym Usage</a></li>
            <li><a href="" class="navi-group__subtitle">Franchise</a></li>
          </ul>
        </nav>
      </div>

      <!-- Careers -->
      <div class="navi-group">
        <h3 class="navi-group__title">Careers</h3>
        <nav>
          <ul>
            <li><a href="" class="navi-group__subtitle">Jobs at Krastev's Gym</a></li>
          </ul>
        </nav>
      </div>

    </div>

    <!-- Media -->
    <div class="info">
      <ul class="socials">
        <li class="socials__item">
          <a href=""><i class="fab fa-facebook-f"></i></a>
        </li>
        <li class="socials__item">
          <a href=""><i class="fab fa-twitter"></i></a>
        </li>
        <li class="socials__item">
          <a href=""><i class="fab fa-google-plus-g"></i></a>
        </li>
        <li class="socials__item">
          <a href=""><i class="fab fa-youtube"></i></a>
        </li>
        <li class="socials__item">
          <a href=""><i class="fab fa-instagram"></i></a>
        </li>
      </ul>
      <p class="rights">Copyright © 2024 Krastev & Waller GmbH. All Rights Reserved.</p>
    </div>
  </footer>
</body>

</html>