<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
  <link rel="manifest" href="/favicon/site.webmanifest">
  <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#ffc40d">
  <meta name="theme-color" content="#ffffff">
  <title>Krastev's Gym</title>
  <!-- <script src="/src/app.js" type="module"></script> -->
</head>

<body>
  <header class="header">
    <div class="header__wrapper">
      <a href="/">
        <img src="/imgs/logo.png" class="header__logo" alt="Logo" />
      </a>
      <nav class="header__navigation">
        <div id="guest">
          <a href="/register.html" class="sign__in">Sign up</a>
        </div>
      </nav>
    </div>

  </header>

  <main>
    <section id="login">
      <form method="POST" class="hero__form--login">
        <h1 class="hero__form--login__title">Sign In</h1>

        <input name="username" class="hero__form--login__field" placeholder="Username" type="text" minlength="1"
          maxlength="50" required value="">

        <input name="password" class="hero__form--login__field" placeholder="Password" type="password" minlength="6"
          maxlength="62" required value="">

        <button type="submit" class="hero__login--submit btn">Submit</button>
      </form>
      <p class="hero__login--register">New to Krastev's Gym? <a href="/register.html">Sign up now.</a></p>
    </section>

    <div class="divider"></div>

  </main>

  <footer class="footer">
    <!-- Info -->
    <div class="navi">
      <div class="navi-group">
        <h3 class="navi-group__title">Krastev's Gym</h3>
        <nav>
          <ul>
            <li>
              <p>Krastev's Gym is the most iconic gym in the world. Since 1989, no one has stood for fitness and
                bodybuilding. Become part of our Legacy now!
              </p>
            </li>
          </ul>
        </nav>
      </div>

      <!-- About -->
      <div class="navi-group">
        <h3 class="navi-group__title">About</h3>
        <nav>
          <ul>
            <li><a href="" class="navi-group__subtitle">Terms of Use</a></li>
            <li><a href="" class="navi-group__subtitle">Data Privacy</a></li>
            <li><a href="" class="navi-group__subtitle">Legal Notice</a></li>
            <li><a href="" class="navi-group__subtitle">Cancellation</a></li>
          </ul>
        </nav>
      </div>

      <!-- Help -->
      <div class="navi-group">
        <h3 class="navi-group__title">Help & Contact</h3>
        <nav>
          <ul>
            <li><a href="" class="navi-group__subtitle">Self Service</a></li>
            <li><a href="" class="navi-group__subtitle">Help Center</a></li>
            <li><a href="" class="navi-group__subtitle">Terminate Membership</a></li>
            <li><a href="" class="navi-group__subtitle">Gym Usage</a></li>
            <li><a href="" class="navi-group__subtitle">Franchise</a></li>
          </ul>
        </nav>
      </div>

      <!-- Careers -->
      <div class="navi-group">
        <h3 class="navi-group__title">Careers</h3>
        <nav>
          <ul>
            <li><a href="" class="navi-group__subtitle">Jobs at Krastev's Gym</a></li>
          </ul>
        </nav>
      </div>

    </div>

    <!-- Media -->
    <div class="info">
      <ul class="socials">
        <li class="socials__item">
          <a href=""><i class="fab fa-facebook-f"></i></a>
        </li>
        <li class="socials__item">
          <a href=""><i class="fab fa-twitter"></i></a>
        </li>
        <li class="socials__item">
          <a href=""><i class="fab fa-google-plus-g"></i></a>
        </li>
        <li class="socials__item">
          <a href=""><i class="fab fa-youtube"></i></a>
        </li>
        <li class="socials__item">
          <a href=""><i class="fab fa-instagram"></i></a>
        </li>
      </ul>
      <p class="rights">Copyright © 2024 Krastev & Waller GmbH. All Rights Reserved.</p>
    </div>
  </footer>

  <script src="/js/index.js"></script>
</body>

</html>