<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="theme-color" content="#ffffff">
    <title>Krastev's Gym</title>
</head>

<body>
<header class="header">
    <div th:replace="~{fragments/navbar}"></div>
</header>

<main>
    <div class="main__wrapper__men">
        <aside class="categories--men">
            <div class="categories__main__wrapper--men">
                <h6 class="category__section--men">Department</h6>
                <div th:each="departmenCategory: ${departmentCategories}" class="categories__wrapper--men">
                    <a th:href="@{/shop/products-by-department/{id}(id=${departmenCategory.getId()})}"
                       th:text="${departmenCategory.getCategory().name().toLowerCase()}"
                       class="category__name--men">Women</a>
                </div>
            </div>
            <div class="categories__main__wrapper--men">
                <h6 class="category__section--men">Categories</h6>
                <div th:each="category: ${categories}" class="categories__wrapper--men">
                    <a th:href="@{/shop/products-by-department/{id}/products-by-category/{categoryId}(id=${products.get(0).getDepartmentCategory().getId()}, categoryId=${category.getId()})}"
                       th:text="${category.getCategory().name().toLowerCase()}"
                       class="category__name--men">Tops</a>
                </div>
            </div>
            <div class="categories__main__wrapper--men">
                <h6 class="category__section--men">Price</h6>
                <div th:each="priceFilter: ${priceFilters}" class="categories__wrapper--men">
                    <a th:href="@{/shop/products-by-department/{id}/products-by-price-range/{fromTo}(id=${products.get(0).getDepartmentCategory().getId()}, fromTo=${priceFilter.getFilter().toString().toLowerCase().replaceAll('_', '-')})}"
                       th:text="${priceFilter.getFilter().name().toLowerCase().replace('_', ' ')}"
                       class="category__name--men">0 to 10</a>
                </div>
            </div>
        </aside>
        <section id="accessories--men" class="shop--men section--men">
            <div class="shop__wrapper--men">
                <div th:each="product: ${products}" class="shop__card--men">
                    <a th:href="@{/shop/product/{id}(id=${product.getId()})}">
                        <img th:src="${product.getPictures().get(0).getUrl()}" alt="product" class="shop__poster">
                    </a>
                    <h6 th:text="${product.getName()}" class="shop__name">Fitness Gloves</h6>
                    <h6 th:text="${product.getPrice() + ' EUR'}" class="shop__price"></h6>

                    <div class="shop__buttons">
                        <div class="shop__buttons--user">
                            <button class="shop__button add">Add to Basket</button>
                        </div>
                        <th:block sec:authorize="hasRole('ADMIN')">
                            <div class="shop__buttons--admin">
                                <button class="shop__button edit">Edit</button>
                                <form th:method="delete"
                                      th:action="@{/shop/product/{id}(id=${product.getId()})}">
                                    <button class="shop__button delete">Delete</button>
                                </form>
                            </div>
                        </th:block>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="divider"></div>


</main>

<footer th:replace="~{fragments/footer}" class="footer"></footer>

</body>
</html>