<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="theme-color" content="#ffffff">
    <title>Krastev's Gym</title>
</head>

<body>
<header class="header">
    <div th:replace="~{fragments/navbar}"></div>
</header>

<main>
    <section class="profile">
        <article class="profile__info">
            <img th:src="${userInfoDTO.getImage()}" class="profile__info__img" alt="">
            <h6 th:text="${userInfoDTO.getFullName()}" class="profile__info__name">Todor Krastev</h6>
            <p th:text="${userInfoDTO.getEmail()}" class="profile__info__subtitle">todorkrastev@web.de</p>

            <div class="wrapper__info">
                <p class="profile__info__field">Age: <span th:text="${userInfoDTO.getAge()}"></span></p>
                <p class="profile__info__field">Weight: <span th:text="${userInfoDTO.getWeight()}"></span> kg</p>
                <p class="profile__info__field">Height: <span th:text="${userInfoDTO.getHeight()}"></span> cm</p>
            </div>

            <a th:href="@{/profile/edit}" class="button edit">Edit</a>
        </article>
    </section>

    <div class="divider"></div>

</main>

<footer th:replace="~{fragments/footer}" class="footer"></footer>

</body>

</html>