<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="theme-color" content="#ffffff">
    <title>Krastev's Gym</title>
</head>

<body>
<header class="header">
    <div class="header__wrapper">
        <a th:href="@{/}">
            <img src="/images/logo/logo.png" class="header__logo" alt="Logo"/>
        </a>
        <nav class="header__navigation">
            <div id="guest" class="header__buttons_wrapper">
                <li class="header__btn">
                    <a th:href="@{/users/login}" th:text="#{nav_bar_login}" class="btn">Sign in</a>
                </li>
                <li class="header__btn">
                    <form th:method="get">
                        <select name="lang"
                                onchange="this.form.submit()"
                                class="btn">
                            <option class="header__drop__lang" th:selected="${#locale.toString()} == 'en_US'"
                                    value="en_US">US
                            </option>
                            <option class="header__drop__lang" th:selected="${#locale.toString()} == 'de_DE'"
                                    value="de_DE">DE
                            </option>
                        </select>
                    </form>
                </li>
            </div>
        </nav>
    </div>

</header>

<main>
    <section id="register" class="section--form">
        <form th:object="${userRegisterDTO}"
              th:action="@{/users/register}"
              th:method="post"
              class="hero__form--register">
            <h1 th:text="#{register_form_title}" class="hero__form--register__title">Sign up</h1>
            <input th:field="*{firstName}"
                   th:placeholder="#{register_form_placeholder_first_name}"
                   id="firstName"
                   name="firstName"
                   type="text"
                   class="hero__form--register__field">
            <p th:if="${#fields.hasErrors('firstName')}" th:errorclass="error" th:errors="*{firstName}"
               class="error__message--form"></p>
            <input th:field="*{lastName}"
                   th:placeholder="#{register_form_placeholder_last_name}"
                   id="lastName"
                   name="lastName"
                   type="text"
                   class="hero__form--register__field">
            <!--<input name="role" class="hero__form--register__field" placeholder="Role" type="text" minlength="5"
                   maxlength="50" required value="">-->
            <p th:if="${#fields.hasErrors('lastName')}" th:errorclass="error" th:errors="*{lastName}"
               class="error__message--form"></p>
            <input th:field="*{email}"
                   th:placeholder="#{register_form_placeholder_email}"
                   id="email"
                   name="email"
                   type="email"
                   class="hero__form--register__field">
            <p th:if="${#fields.hasErrors('email')}" th:errorclass="error" th:errors="*{email}"
               class="error__message--form"></p>
            <input th:field="*{password}"
                   th:placeholder="#{register_form_placeholder_password}"
                   id="password"
                   name="password"
                   type="password"
                   class="hero__form--register__field">
            <p th:if="${#fields.hasErrors('password')}" th:errorclass="error" th:errors="*{password}"
               class="error__message--form"></p>
            <input th:field="*{confirmPassword}"
                   th:placeholder="#{register_form_placeholder_confirm_password}"
                   id="confirmPassword"
                   name="confirmPassword"
                   type="password"
                   class="hero__form--register__field">
            <p th:if="${#fields.hasErrors('confirmPassword')}" th:errorclass="error" th:errors="*{confirmPassword}"
               class="error__message--form"></p>
            <button th:text="#{register_form_btn}" type="submit" class="hero__register--submit btn">Submit</button>
        </form>
        <div class="hero__register--register">
            <p class="hero__register--terms">By creating an account you agree to our <a
                    th:text="#{register_form_terms_and_privacy}" th:href="@{/}">Terms &
                Privacy.</a></p>
            <p class="hero__register--login">Already have an account? <a th:text="#{register_form_login}"
                                                                         th:href="@{/users/login}">Sign in.</a></p>
        </div>
    </section>

    <div class="divider"></div>

</main>

<footer th:replace="~{fragments/footer}" class="footer"></footer>
</body>

</html>