.input {
    border: none;
    padding: 0.75rem;
    background-color: var(--color-white);
    color: var(--color-dark-gray);
    border-radius: 2px;
}

.btn {
    background-color: transparent;
    border: none;
    color: var(--color-primary);
    font-size: 9px;
    padding: 2px 4px;
    text-decoration: none;
}

.divider {
    background-color: var(--color-dark-gray);
    height: 5px;
}

#edit__activity {
    margin: 6rem 1rem 2rem;
}


.hero__form--edit__activity__title {
    color: var(--color-lighter-gray);
    margin-bottom: 1rem;
}

.hero__form--edit__activity {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero__form--edit__activity .hero__form--edit__activity__field {
    width: 100%;
    margin-bottom: 1rem;
    color: var(--color-dark-gray);
    padding: 0.5rem;
    background-color: var(--color-lighter-gray);
}

.textarea {
    min-height: 150px;
}

#edit__activity .hero__edit__activity--submit {
    padding: 0.25rem 0.75rem;
    text-transform: capitalize;
    font-size: 1rem;
    background-color: transparent;
    color: var(--color-primary);
    border: 2px solid var(--color-primary);
}

.form__edit__activity__btn__del {
    text-align: center;
    margin-top: 1rem;
}

@media screen and (min-width: 640px) {}

@media screen and (min-width: 768px) {
    #edit__activity {
        margin: 8rem 1rem 3rem;
    }

    .hero__form--edit__activity .hero__form--edit__activity__field {
        width: 80%;
    }
}

@media screen and (min-width: 1024px) {
    .hero__form--edit__activity .hero__form--edit__activity__field {
        width: 60%;
    }
}

@media screen and (min-width: 1200px) {
    #edit__activity {
        margin: 10rem 1rem 5rem;
    }

    .hero__form--edit__activity .hero__form--edit__activity__field {
        width: 30%;
    }


    #edit__activity .hero__form--edit__activity .hero__edit__activity--submit:hover {
        background-color: var(--color-primary);
        color: var(--color-dark-gray);
        border: 2px solid var(--color-primary);
        cursor: pointer;
        transition: color 250ms ease-in-out;
    }
}

@media screen and (min-width: 1600px) {
    .hero__form--edit__activity .hero__form--edit__activity__field {
        width: 25%;
    }
}

@media screen and (min-width: 1800px) {
    .hero__form--edit__activity .hero__form--edit__activity__field {
        width: 20%;
    }
}