#hero .img--bg--exercise {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0.5;
}

#hero .hero__exercises {
    position: relative;
    z-index: 3;
}


#hero .hero__title__exercises {
    color: var(--color-primary);
    font-weight: 700;
    padding: 0.75rem;
}

#hero .hero__exercises__subtitles {
    padding: 0.5rem;
    text-align: center;
}

#hero .hero__exercises__subtitle {
    margin-bottom: 0.5rem;
    color: var(--color-lighter-gray);
    line-height: 1.2;
}

#hero .hero__exercises__subtitle:last-child {
    margin-bottom: 0;
}

.exercise__wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    /*padding: 0 0.125rem 0 0.125rem;*/
}

.exercise__poster {
    width: 100%;
    border-radius: 5px;
}

.exercise__title--category {
    color: var(--color-primary);
    margin-top: 1rem;
    text-transform: capitalize;
    font-size: 0.875rem;
}

.exercise__categories {
    display: none;
}

.exercises__by__category {
    padding: 3rem 1rem;
}

.exercise {
    padding: 2.25rem 0;
}

@media screen and (min-width: 768px) {
    #hero .hero__exercises {
        width: 50%;
    }

    .exercises__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 12px;
    }

    .exercises__main__wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: flex-start;
    }

    .exercise__categories {
        padding: 3rem 1rem;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: flex-start;
        width: 25%;
    }

    .exercise__categories__title {
        margin-bottom: 0.675rem;
        text-transform: capitalize;
        color: var(--color-primary);
        text-align: start;
        font-size: 0.75rem;
    }

    .exercise__category__name {
        text-decoration: none;
        margin-bottom: 0.50rem;
        text-transform: capitalize;
        padding-left: 1rem;
        font-size: 0.75rem;
        color: var(--color-lighter-gray);
    }
}

@media screen and (min-width: 1024px) {
    #hero .hero__title__exercises {
        text-align: start;
    }

    #hero .hero__exercises {
        width: 80%;
    }

    #hero .hero__exercises__subtitles {
        text-align: left;
        width: 50%;
    }

    .exercises__container {
        grid-template-columns: repeat(4, 1fr);
    }

    .exercise__categories {
        width: 21%;
    }
}

@media screen and (min-width: 1200px) {
    #hero .hero__products {
        max-width: 1200px;
        margin: 0 auto;
    }

    /*.exercises__container {*/
    /*    grid-template-columns: repeat(5, 1fr);*/
    /*}*/

    .exercise__category__name:hover {
        color: var(--color-primary);
        cursor: pointer;
        transition: color 250ms ease-in-out;
    }

    .exercises__main__wrapper {
        width: 95%;
        max-width: 1200px;
        margin: 0 auto;
    }

    .exercise__categories {
        width: 17%;
    }
}

@media screen and (min-width: 1440px) {
    .exercise__categories {
        width: 16%;
    }
}