.categories--men {
    visibility: hidden;
}

.section--men {
    padding: 4rem 1rem 3rem;
}

.shop--men .shop__wrapper--men {
    margin: 2rem 0;
    justify-content: center;
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: center;
}

.shop--men .shop__card--men {
    margin-bottom: 1rem;
}

.shop--men .shop__description,
.shop--men .shop__price,
.shop--men .shop__name {
    text-align: start;
    padding: 0.125rem;
    font-size: 0.625rem;
}

.shop--men .shop__price {
    margin-bottom: 0.75rem;
}

.shop__buttons {
    display: flex;
    padding: 0.25rem;
    gap: 13px;
    flex-direction: column;
    align-content: space-around;
    justify-content: center;
    align-items: center;
}

.shop--men .shop__poster {
    width: 100%;
}

@media screen and (min-width: 640px) {
    .header .btn {
        font-size: 11px;
    }
}

@media screen and (min-width: 768px) {
    .header {
        padding: 0.625rem 0.875rem;
    }

    .header .logo {
        width: 50px;
    }

    .header .btn {
        font-size: 12px;
    }

    .main__wrapper__men {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: flex-start;
        margin: 2rem 0;
        justify-content: center;
        width: 95%;
        max-width: 1200px;
        margin: 0 auto;
    }

    .category__name--men {
        text-decoration: none;
        margin-bottom: 0.50rem;
        text-transform: capitalize;
        padding-left: 1rem;
        font-size: 0.75rem;
    }

    .category__section--men {
        margin-bottom: 0.675rem;
        text-transform: capitalize;
        color: var(--color-primary);
        text-align: start;
        font-size: 0.75rem;
    }

    .categories__wrapper--men {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: center;
        align-items: flex-start;
    }

    .categories--men {
        visibility: visible;
        padding: 5rem 0 3rem;
        width: 19%;
    }

    .category__name--men:hover {
        color: var(--color-primary);
        cursor: pointer;
        transition: color 250ms ease-in-out;
    }

    .shop--men {
        justify-content: center;
        width: 95%;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }

    .section--men {
        padding: 5rem 1rem 3rem;
    }

    .shop--men:nth-of-type(2n + 1) {
        flex-direction: row-reverse;
    }

    .shop--men .shop__wrapper--men {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 12px;
    }

    .shop--men .shop__wrapper--men {
        flex-direction: row;
        align-content: center;
        justify-content: space-evenly;
        align-items: center;
        gap: 15px;
    }

    .shop--men .shop__wrapper--men,
    .shop--men .shop__poster {
        width: 95%;
    }

    .shop--men .shop__description {
        text-align: center;
    }

    .shop--men .shop__poster {
        width: 100%;
        border-radius: 5px;
    }
}

@media screen and (min-width: 1024px) {
    html {
        font-size: 1.125rem;
    }

    .header .btn {
        font-size: 15px;
    }

    .shop--men .navi {
        width: 80%;
        padding: 4rem 0;
    }

    .categories--men {
        width: 16%;
    }
}

@media screen and (min-width: 1200px) {
    .categories--men {
        padding: 6rem 1rem 3rem;
    }

    .section--men {
        padding: 6rem 1rem 3rem;
    }

    .shop--men .shop__wrapper--men {
        grid-template-columns: repeat(4, 1fr);
    }

    .header .logo {
        width: 60px;
    }


    .btn {
        padding: 0.25rem 0.875rem;
        border: 2px solid transparent;
    }

    .header .btn:hover {
        background-color: transparent;
        border: 2px solid var(--color-primary);
        cursor: pointer;
        transition: color 250ms ease-in-out;
    }

    .categories--men {
        width: 17%;
    }
}

@media screen and (min-width: 1440px) {
    .categories--men {
        width: 16%;
    }
}

@media screen and (min-width: 1600px) {
    .header .logo {
        width: 65px;
    }

    .header .btn {
        font-size: 16px;
    }
}

@media screen and (min-width: 1800px) {
    .header .logo {
        width: 70px;
    }

    .header .btn {
        font-size: 18px;
    }
}