.input {
    border: none;
    padding: 0.75rem;
    background-color: var(--color-white);
    color: var(--color-dark-gray);
    border-radius: 2px;
}

.btn {
    background-color: transparent;
    border: none;
    color: var(--color-primary);
    font-size: 9px;
    padding: 2px 4px;
    text-decoration: none;
}

.section {
    padding: 3rem 1rem;
}

.divider {
    background-color: var(--color-dark-gray);
    height: 5px;
}

#register {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*min-height: 100vh;*/
    /*padding: 0 1rem;*/
    /*position: relative;*/
    text-align: center;
}


.hero__form--register__title {
    margin-bottom: 1rem;
    color: var(--color-lighter-gray);
}

.hero__form--register {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.hero__form--register .hero__form--register__field {
    width: 100%;
    margin-bottom: 1rem;
    color: var(--color-dark-gray);
    padding: 0.5rem;
    background-color: var(--color-lighter-gray);
}


.section--form {
    padding: 5rem 1rem;
}

#register .hero__register--submit {
    /* padding: 0.75rem; */
    background-color: transparent;
    color: var(--color-primary);
    padding: 0.25rem 0.75rem;
    text-transform: capitalize;
    font-size: 1rem;
    border: 2px solid var(--color-primary);
}

.hero__register--register {
    position: relative;
    z-index: 3;
    font-size: 0.75rem;
}

.hero__register--register a {
    color: var(--color-primary);
}

.hero__register--terms {
    margin-bottom: 0.25rem;
    color: var(--color-lighter-gray);
    line-height: 1.2;
}

.hero__register--login {
    color: var(--color-lighter-gray);
    line-height: 1.2;
}


@media screen and (min-width: 425px) {
    .section--form {
        padding: 6rem 1rem;
    }
}

@media screen and (min-width: 768px) {
    .section--form {
        padding: 7rem 1rem;
    }

    .hero__form--register .hero__form--register__field {
        width: 80%;
    }
}

@media screen and (min-width: 1024px) {
    .section--form {
        padding: 8rem 1rem;
    }

    .hero__form--register .hero__form--register__field {
        width: 60%;
    }
}

@media screen and (min-width: 1200px) {
    .hero__form--register .hero__form--register__field {
        width: 30%;
    }

    .hero__register--register {
        width: 30%;
    }

    #register .hero__form--register .hero__register--submit:hover {
        background-color: var(--color-primary);
        color: var(--color-dark-gray);
        border: 2px solid var(--color-primary);
        cursor: pointer;
        transition: color 250ms ease-in-out;
    }
}

@media screen and (min-width: 1600px) {
    .hero__form--register .hero__form--register__field {
        width: 25%;
    }
}

@media screen and (min-width: 1800px) {
    .hero__form--register .hero__form--register__field {
        width: 20%;
    }

    .hero__register--register {
        width: 20%;
    }
}