#hero--exception {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding: 0 1rem;
  position: relative;
  text-align: center;
}

#hero--exception::after {
  background: rgba(0, 0, 0, 0) linear-gradient(
          rgba(0, 0, 0, 0.6),
          rgba(0, 0, 0, 0.8));
  bottom: 0;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;
}


.hero--exception__title,
.hero--exception__description {
  margin-bottom: 1.625rem;
  position: relative;
  z-index: 3;
  color: var(--color-lighter-gray);
}

.hero--exception__title {
  font-size: 2rem;
  font-weight: 600;
}


.exception__btn {
  background-color: transparent;
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
  font-size: 0.75rem;
  font-weight: 600;
  padding: 0.5rem 2rem;
  text-decoration: none;
  text-transform: uppercase;
  z-index: 3;
}

@media screen and (min-width: 375px) {
  .hero--exception__title {
    font-size: 2.5rem;
  }

  .hero--exception__description {
    font-size: 1.25rem;
  }

  .exception__btn {
    font-size: 0.9375rem;
  }
}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 1024px) {
  .hero--exception__title {
    font-size: 3.375rem;
  }

  .hero--exception__description {
    font-size: 1.6875rem;
  }

  .exception__btn {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 1200px) {
  #hero--exception .exception__btn:hover {
    background-color: var(--color-primary);
    color: var(--color-dark-gray);
    border: 2px solid var(--color-primary);
    cursor: pointer;
    transition: color 250ms ease-in-out;
  }
}

@media screen and (min-width: 1440px) {
  .hero--exception__title {
    font-size: 4rem;
  }

  .hero--exception__description {
    font-size: 2rem;
  }

  .exception__btn {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 2560px) {
  .hero--exception__title {
    font-size: 5rem;
  }

  .hero--exception__description {
    font-size: 2.5rem;
  }

  .exception__btn {
    font-size: 1.875rem;
  }
}