<footer th:fragment="footer" class="footer">
    <!-- Info -->
    <div class="navi">
        <div class="navi-group">
            <h3 class="navi-group__title">Krastev's Gym</h3>
            <nav>
                <ul>
                    <li>
                        <p>Krastev's Gym is the most iconic gym in the world. Since 1989, no one has stood for fitness and
                            bodybuilding. Become part of our Legacy now!
                        </p>
                    </li>
                </ul>
            </nav>
        </div>

        <!-- About -->
        <div class="navi-group">
            <h3 class="navi-group__title">About</h3>
            <nav>
                <ul>
                    <li><a th:href="@{/}" class="navi-group__subtitle">Terms of Use</a></li>
                    <li><a th:href="@{/}" class="navi-group__subtitle">Data Privacy</a></li>
                    <li><a th:href="@{/}" class="navi-group__subtitle">Legal Notice</a></li>
                    <li><a th:href="@{/}" class="navi-group__subtitle">Cancellation</a></li>
                </ul>
            </nav>
        </div>

        <!-- Help -->
        <div class="navi-group">
            <h3 class="navi-group__title">Help & Contact</h3>
            <nav>
                <ul>
                    <li><a th:href="@{/}" class="navi-group__subtitle">Self Service</a></li>
                    <li><a th:href="@{/}" class="navi-group__subtitle">Help Center</a></li>
                    <li><a th:href="@{/}" class="navi-group__subtitle">Terminate Membership</a></li>
                    <li><a th:href="@{/}" class="navi-group__subtitle">Gym Usage</a></li>
                    <li><a th:href="@{/}" class="navi-group__subtitle">Franchise</a></li>
                </ul>
            </nav>
        </div>

        <!-- Careers -->
        <div class="navi-group">
            <h3 class="navi-group__title">Careers</h3>
            <nav>
                <ul>
                    <li><a th:href="@{/}" class="navi-group__subtitle">Jobs at Krastev's Gym</a></li>
                </ul>
            </nav>
        </div>

    </div>

    <!-- Media -->
    <div class="info">
        <ul class="socials">
            <li class="socials__item">
                <a th:href="@{/}"><i class="fab fa-facebook-f"></i></a>
            </li>
            <li class="socials__item">
                <a th:href="@{/}"><i class="fab fa-twitter"></i></a>
            </li>
            <li class="socials__item">
                <a th:href="@{/}"><i class="fab fa-google-plus-g"></i></a>
            </li>
            <li class="socials__item">
                <a th:href="@{/}"><i class="fab fa-youtube"></i></a>
            </li>
            <li class="socials__item">
                <a th:href="@{/}"><i class="fab fa-instagram"></i></a>
            </li>
        </ul>
        <p class="rights">Copyright © 2024 Krastev & Waller GmbH. All Rights Reserved.</p>
    </div>
</footer>
