<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="theme-color" content="#ffffff">
    <title>Krastev's Gym</title>
    <!-- <script src="/src/app.js" type="module"></script> -->
</head>

<body>
<div th:fragment="navbar" class="header__wrapper">
    <a th:href="@{/}">
        <img src="/images/logo/logo.png" class="header__logo" alt="Logo"/>
    </a>
    <nav class="header__navigation">
        <div id="guest">
            <th:block sec:authorize="!isAuthenticated()">
                <a th:href="@{/users/login}" class="sign__in">Sign in</a>
            </th:block>
            <th:block sec:authorize="isAuthenticated()">
                <a th:href="@{/trainer}" class="btn">My Trainer</a>
                <a th:href="@{/exercises}" class="btn">Exercises</a>
                <a th:href="@{/workouts}" class="btn">Workouts</a>
                <a th:href="@{/progress}" class="btn">Progress</a>
                <a th:href="@{/shop}" class="btn">Shop</a>
                <a th:href="@{/nutrition}" class="btn">Nutrition</a>
                <form th:method="post"
                      th:action="@{/users/logout}">
                    <button class="icon btn" type="submit">Logout</button>
                </form>
            </th:block>

        </div>
    </nav>
</div>
</body>

</html>