<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="theme-color" content="#ffffff">
    <title>Krastev's Gym</title>
</head>

<body>
<div th:fragment="navbar" class="header__wrapper">
    <a th:href="@{/}">
        <img src="/images/logo/logo.png" class="header__logo" alt="Logo"/>
    </a>
    <nav class="header__navigation">
        <div id="guest" class="header__buttons_wrapper">
            <th:block sec:authorize="!isAuthenticated()">
                <li class="header__btn">
                    <a th:href="@{/users/register}" th:text="#{nav_bar_register}" class="btn">Sign up</a>
                </li>
                <li class="header__btn">
                    <a th:href="@{/users/login}" th:text="#{nav_bar_login}" class="btn">Sign in</a>
                </li>
            </th:block>
            <th:block sec:authorize="isAuthenticated()">
                <li class="header__btn">
                    <a th:href="@{/workouts}" th:text="#{nav_bar_workouts}" class="btn">Workouts</a>
                </li>
                <li class="header__btn">
                    <a th:href="@{/exercises/exercises-by-category}" th:text="#{nav_bar_exercises}" class="btn">Exercises</a>
                </li>
                <li class="header__btn">
                    <a th:href="@{/trainer}" th:text="#{nav_bar_my_trainer}" class="btn">My Trainer</a>
                </li>
                <!--                <li class="header__btn">-->
                <!--                    <a th:href="@{/progress}" th:text="#{nav_bar_progress}" class="btn">Progress</a>-->
                <!--                </li>-->
                <li class="header__btn">
                    <a th:href="@{/shop}" th:text="#{nav_bar_shop}" class="btn">Shop</a>
                </li>
                <li class="header__btn">
                    <a th:href="@{/profile}" th:text="#{nav_bar_profile}" class="btn">Profile</a>
                </li>
                <!--                <li class="header__btn">-->
                <!--                    <a th:href="@{/nutrition}" th:text="#{nav_bar_nutrition}" class="btn">Nutrition</a>-->
                <!--                </li>-->
                <li class="header__btn">
                    <form th:method="post"
                          th:action="@{/users/logout}">
                        <button th:text="#{nav_bar_logout}" class="btn" type="submit">Sign out</button>
                    </form>
                </li>
                <a th:href="@{/basket}" class="header__btn icon btn"><i class="fa-solid fa-basket-shopping"></i></a>
            </th:block>
            <li class="header__btn">
                <form th:method="get">
                    <select name="lang"
                            onchange="this.form.submit()"
                            class="btn">
                        <option class="header__drop__lang" th:selected="${#locale.toString()} == 'en_US'" value="en_US">
                            US
                        </option>
                        <option class="header__drop__lang" th:selected="${#locale.toString()} == 'de_DE'" value="de_DE">
                            DE
                        </option>
                    </select>
                </form>
            </li>
        </div>
    </nav>
</div>
</body>

</html>