<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="theme-color" content="#ffffff">
    <title>Krastev's Gym</title>
    <!-- <script src="/src/app.js" type="module"></script> -->
</head>

<body>
<main>
    <section id="hero--exception">
        <img src="/images/exception/exception.jpg" class="img--bg" alt="Background poster" />
        <h1 class="hero--exception__title">Lost your way?</h1>
        <p class="hero--exception__description">Sorry, we can't find that page. You'll find lots to explore on the home
            page.</p>
        <a th:href="@{/}" class="exception__btn">Go Home ></a>
    </section>
</main>
</body>
</html>